<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Good old days</title>
    {% include 'website/head/tailwind-head.html' %}
</head>
<body>

<nav class="w-full flex justify-between items-center border-b px-4 py-2 bg-muted/25">
    <div class="">
        <h1 class="text-xl">Good Old Days</h1>
        <p class="text-sm text-foreground/60">Un semplicissimo music tracker (serve veramente a qualcosa?)</p>
    </div>

    <form action="/logout/" method="post">
        <input type="submit" value="Esci" class="btn btn-variant-link btn-size">
    </form>
</nav>

{% if should_initialize %}
    <div class="max-w-xl mx-auto flex flex-col items-center justify-center gap-2 py-20 px-10">
        <h2 class="text-xl font-semibold text-center">Sembra che il database sia vuoto</h2>
        <p class="text-center">
            Clicca il bottone qui sotto per popolarlo prendendo i dati da <a
                href="https://musicbrainz.org/">musicbrainz.org</a>
        </p>
        <button id="populate-button" class="mt-8 btn btn-variant btn-size">
            LET'S GOOOOO!!
            <svg id="loader-circle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-loader-circle ml-2 h-4 w-4 animate-spin hidden">
                <path d="M21 12a9 9 0 1 1-6.219-8.56"></path>
            </svg>
        </button>
        <form action="/populate_db/" method="post" id="populate-form"></form>
    </div>
{% else %}

{% endif %}

<script>
    {% if should_initialize %}
        const form = document.getElementById('populate-form')
        const button = document.getElementById('populate-button')
        const loader = document.getElementById('loader-circle')

        async function populateDb() {
            button.disabled = true
            loader.style.display = 'inline-block'
            form.submit()
        }

        button.addEventListener('click', populateDb)
    {% endif %}
</script>
</body>
</html>