<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Good old days</title>
    {% include 'website/head/tailwind-head.html' %}
</head>
<body>

<nav class="w-full flex justify-between items-center border-b px-4 py-2 bg-muted/25">
    <div class="">
        <h1 class="text-xl">Good Old Days</h1>
        <p class="text-sm text-foreground/60">Un semplicissimo music tracker (serve veramente a qualcosa?)</p>
    </div>

    <form action="/logout/" method="post">
        <input type="submit" value="Esci" class="btn btn-variant-link btn-size">
    </form>
</nav>

{% if should_initialize %}
    <div class="max-w-xl mx-auto flex flex-col items-center justify-center gap-2 py-20 px-10">
        <h2 class="text-xl font-semibold text-center">Sembra che il database sia vuoto</h2>
        <p class="text-center">
            Clicca il bottone qui sotto per popolarlo prendendo i dati da <a
                href="https://musicbrainz.org/">musicbrainz.org</a>
        </p>
        <form action="/populate_db/" method="post" class="mt-8">
            <input type="submit" value="LET'S GOOOOO!!" class="btn btn-variant btn-size">
        </form>
    </div>
{% else %}

{% endif %}
</body>
</html>